/*
* @Author: HP
* @Date:   2020-02-24 18:01:42
* @Last Modified by:   HP
* @Last Modified time: 2020-02-25 21:04:32
*/
body{
	background: #f5f5f5;
	min-width: 976px;
	position: relative;
}
.nav{
	height: 30px;
	background: #323232;
	text-align: center;
	position: relative;
}
.nav h1{
	margin-left: 30px;
	margin-top: 6px;
	width: 58px;
	float: left;
}
.nav h1>img{
	height: 18px;
}
.nav>ul>li{
	float: left;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Heiti SC","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	padding: 0px 6px;
	line-height: 30px;
	font-weight: 700;
	position: relative;
}
.nav>ul>li:nth-of-type(5){
	width: 88px;
}
.nav>ul>li:nth-of-type(7){
	width: 88px;
}
.nav>ul{
	height: 30px;
	margin-left: 32px;
	width: 555px;
	float: left;
}
.nav>ul>li>a:hover{
	color: #10b03b;
}
.box li:nth-of-type(3)>ul{
	background: #ffffff;
	position: absolute;
	top: 30px;
	left: 0px;
	float: left;
	width: 195px;
	border: 1px solid #f5f5f5;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
	border-radius: 5px;
	display: none;

}
.box li{
	height: 30px;
	text-align: left;
	padding-left: 20px
}
.box li:hover{
	color: #10b041;
}
.box li .hotela:hover{
	color: #10b041;
}
.box li:nth-of-type(3)>ul span{
	font-size: 12px;
	margin: 7px;
	padding: 5px 4px;
	background: #ff6553;
	color: #ffffff;
}
.box li:nth-of-type(3)>ul .icon-jiantou{
	background: none;
	color: #c0c0c0;
}
.communityul{
	z-index: 2;
}
.communityul li{
	position: relative;
}
.forum{
	width: 610px;
	height: 352px;
	background: #ffffff;
	position: absolute;
	left: 200px;
	top: -10px;
	border-radius: 5px;
	border: 1px solid #f3f3f3;
	color: #323232;
	display: none;
}
.store ul a{
	color: black;
}
.hotel ul a{
	color: black;
}
.community ul a{
	color: black;
}


.forum div{
	margin-left: 33px;
	background: #ffffff;
	width: 475px;
	height: 40px;
	float: left;
}
.forum .oceania{
	margin-left: 18px;
}
.forum .europe,.forum .asia{
	height: 60px;
	padding-bottom: 10px;
	
}
.forum b{
	float: left;
	margin-right: 16px;
	font-size: 13px;
	color: #323232;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 6px;
	margin-bottom: 5px;
	border-radius: 3px;
}
.communityul .forum .asia>b,.communityul .forum .europe>b{
	float: left;
	margin-right: 13px;
	font-size: 13px;
	color: #323232;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
	margin-top: 0px;
}
.forum b:hover{
	background: #e3fae1;
}
.forum p{
	line-height: 40px;
	float: left;
}
.hot{
	float: left;
	color: #323232;
}
.forum .all{
	float: right;
	margin-right: 25px;
	color: #323232;
}
.forum p,li:hover{
	color: #323232;
}
.forum li:nth-of-type(1){
	border-bottom: 1px solid #ededed;
	height: 40px;
}
.communityul .forum li:nth-of-type(2),li:nth-of-type(3),li:nth-of-type(4),li:nth-of-type(5),li:nth-of-type(6){
	/* border-bottom: 1px dashed #ededed; */ 
}
.forum li:nth-of-type(2),.forum li:nth-of-type(5),.forum li:nth-of-type(6),.forum li:nth-of-type(7){
	height: 40px;
}
.forum li:nth-of-type(3){
	height: 70px;
}
.forum li:nth-of-type(4){
	height: 70px;
}
 
.box li:nth-of-type(5)>ul{
	background: #ffffff;
	position: absolute;
	top: 30px;
	left: 0px;
	float: left;
	width: 140px;
	line-height: 32px;
	border: 1px solid #f5f5f5;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
	border-radius: 5px;
	display: none;

}
.box li:nth-of-type(6)>ul{
	background: #ffffff;
	position: absolute;
	top: 30px;
	left: 0px;
	float: left;
	width: 104px;
	line-height: 32px;
	border: 1px solid #f5f5f5;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
	border-radius: 5px;
	display: none;

}
.box>li>ul>li:hover{
	background-color: #e3fae1;
}
.box>ul>li>a{
	color: #636363;
	line-height: 
}

.nav a{
	text-decoration: none;
	color: #c0c0c0;
	cursor: pointer;
}
.smalllable img{
	height: 12px;
	position: absolute;
	left: 50px;
	top: 0px;
}
.smalllable1 img{
	height: 12px;
	position: absolute;
	left: 63px;
	top: 0px;
}
.smalllable .tail{
	width: 10px;
	height: 7px;
	position: absolute;
	margin-right: 6px;
	top: 12px;
	left: 56px;
	background: url('http://static.qyer.com/models/common/component/headfoot/icon/nav/flag-tail.svg')0 0/contain no-repeat;
}
.smalllable1 .tail{
	width: 10px;
	height: 7px;
	position: absolute;
	margin-right: 6px;
	top: 12px;
	left: 69px;
	background: url('http://static.qyer.com/models/common/component/headfoot/icon/nav/flag-tail.svg')0 0/contain no-repeat;
}
.navright{
	height: 30px;
	width: 250px;
	background: none;
	float: right;
	margin-left: 16px;
}
.navlogin{
	margin-right: 30px;
	color: #c0c0c0;
	float: right;
	font-size: 14px;
	line-height: 30px;
}
.navlogin a:hover{
	color: #10b041;
}
.navregister{
	float: right;
	margin-right: 15px;
	margin-right: 13px;
	color: #c0c0c0;
	font-size: 14px;
	line-height: 30px;
}
.navregister a:hover{
	color: #10b041;
}
.navright span{
	line-height: 30px;
	color: #c0c0c0;
	margin-left: 10px;
	float: left;
}
.navright .icon-weixin{
	/* float: right;
	margin-right: 10px; */
}
.navright .icon-weixin:hover{
	color: #10b041;
}
.navright .icon-weibo{
	/* float: right;
	margin-right: 10px; */
	font-size: 18px;
}
.navright .icon-weibo:hover{
	color: #10b041;
}
.navright .icon-qqchat{
	/* float: right;
	margin-right: 10px; */
	font-size: 18px;
}
.navright .icon-qqchat:hover{
	color: #10b041;
}
.navright .icon-icon_taobao{
	/* float: right;
	margin-right: 10px; */
	font-size: 23px;
	color: #ff5300;
}
.searchbox{
	width: 200px;
	float: right;
	position: relative;
}
.searchbox input{
	width: 0px;
	height: 20px;
	position:absolute;
	border-radius: 3px;
	border: none;
	outline: none;
	right: 0px;
	top: 5px;
	padding: 0px;
	transition: width 0.5s ;
	background: #ffffff;
}
.searchbox span{
	line-height: 30px;
	font-size: 20px;
	color: #ffffff;
	margin-right: 5px;
	position: absolute;
	top: 2px;
	right: 0px;

}
.searchbox span:hover{
	color: black;
}


.mainnav{
	margin: 20px auto 0px;
	width: 960px;
}
.mainnav p{
	font-size: 12px;
	line-height: 13px;
}
.mainnav a{
	text-decoration: none;
	font-weight: 700;
	color: #0073b6;
}
.mainnav a:hover{
	text-decoration: underline;
}
.mainheader{
	height: 369px;
	width: 960px;
	padding-top: 31px;
	margin: 0px auto;
}
.mainheader img{
	width: 960px;
	float: left;
}
.topnav{
	width: 958px;
	height: 48px;
	border: 1px solid #c2c2c2;
	border-top: none;
	background: #ececec;
	float: left;
}
.topnav li{
	width: 96px;
	float: left;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 48px;
}
.selectnav{
	background: #d7d7d7;
	color: #636363;
}
.topnav a{
	text-decoration: none;
	color: #0073b6;
}
.notselect:hover{
	background: #e1e1e1;
}

.videobody{
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	position: fixed;
	z-index: 20;
	background: rgba(0, 0, 0, 0.4);
	display: none;
}
.videobody::before{
	content: "";
	position: absolute;
	background: url('https://static.qyer.com/images/www/job/filter-back.png');
}
.videobody .video{
	position: absolute;
	width: 640px;
	height: 344px;
	top: 50%;
	left: 50%;
	margin: -200px 0px 0px -320px;
	background: #ffffff;
}
.video video{
	width: 100%;
}
.videoclose{
	background: url('https://static.qyer.com/models/common/ui/popup/ico.png') no-repeat;
	width: 32px;
	height: 32px;
	top: -32px;
	right: -32px;
	cursor: pointer;
	position: absolute;
}
.videoclose:hover{
	background-position: 0px -38px;
}


.doyouknow{
	height: 270px;
	width: 960px;
	margin: 20px auto;
}
.video1{
	height: 270px;
	width: 560px;
	float: left;
	position: relative;
	cursor: pointer;
}
.video1 img{
	height: 270px;
}
.back{
	opacity: 0.3;
	position: absolute;
	background: #000;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
}
.videotitle{
	height: 30px;
	width: 515px;
	padding: 0px 10px 0px 35px;
	line-height: 30px;
	font-size: 12px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: url('https://static.qyer.com/images/www/job/videoName-icon.png') no-repeat 10px;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0.7;
	color: #fff;
}
.videobtn{
	width: 82px;
	height: 82px;
	border-radius: 50%;
	position: absolute;
	top: 94px;
	left: 239px;
	opacity: 0.8;
	background: rgba(0, 0, 0, 0.6);
}
.videobtn .icon-youjiantou{
	color: #ffffff;
	top: 25px;
	left: 30px;
	font-size: 30px;
	position: absolute;
}
.doyouknowright {
	float: left;
	height: 270px;
	width: 360px;
	margin-left: 40px;
}
.doyouknowright h5{
	font-size: 32px;
	line-height: 36px;
}
.doyouknowmain{
	height: 144px;
	width: 360px;
	padding: 30px 0px;
}
.doyouknowmain p{
	font-size: 12px;
}
.doyouknowright h6{
	font-size: 26px;
	color: #147850;
	line-height: 30px;
}

.say{
	height: 635px;
	width: 960px;
	margin: 0px auto 98px;
}
.say h5{
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
	float: left;
	width: 960px;
}
.saymain{
	height: 587px;
	width: 740px;
	float: left;
	margin-top: 15px;
}
.saymaintop{
	width: 740px;
	height: 103px;
	line-height: 21px;
	float: left;
	font-size: 14px;
	margin-bottom: 35px;
}
.reason{
	width: 360px;
	height: 212px;
	margin: 0px 20px 25px 0px;
	float: left;
}
.saymain img{
	width: 360px;
}
.saymain a{
	float: left;
}
.saytext{
	font-size: 14px;
	line-height: 20px;
	float: left;
	margin-top: 9px;
	position: relative;
}
.saytext span{
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.saytext span a{
	color: #0073b6;
	text-decoration: none;
}
.saytext span a:hover{
	text-decoration: underline;
}
.activity{
	width: 360px;
	height: 212px;
	margin: 0px 0px 25px 0px;
	float: left;
}
.welfare{
	width: 360px;
	height: 212px;
	margin: 0px 20px 0px 0px;
	float: left;
}
.vacancies{
	width: 360px;
	height: 212px;
	float: left;
}
.sayvideo{
	height: 430px;
	width: 200px;
	margin-left: 20px;
	margin-top: 15px;
	float: left;
}
.sayvideo1{
	height: 200px;
	width: 200px;
	float: left;
	margin-bottom: 30px;
	background: red;
	position: relative;
}
.sayvideo2{
	height: 200px;
	width: 200px;
	float: left;
	background: red;
	position: relative;
}
.btn{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 75px;
	left: 75px;
}
.sayvideo .icon-youjiantou{
	color: #ffffff;
	font-size: 30px;
	position: absolute;
	top: 10px;
	left: 13px;
}




.bottom{
	height: 113px;
	width: 100%;
	background: #323232;
	border-top: 3px solid #25a851;
}
.bottommain{
	height: 77px;
	width: 980px;
	margin: 36px auto 0px;
}
.footernav{
	margin-left: -15px;
}
.footernav a{
	color: silver;
	font-size: 14px;
	margin-right: 10px;
	margin-left: -5px;
	font-weight: 700;
	line-height: 14px;
	border-left: 2px solid #636363;
	text-decoration: none;
	padding-left: 10px;
	font-family: 'Helvetica Neue',Helvetica,Arial,'PingFang SC','Hiragino Sans GB','Heiti SC','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}
.footernav a:first-child{
	border-left: 3px solid #25a851;
	padding-left: 12px;
	margin-left: 0px;
}
.bottommain p{
	margin-top: 20px;
	font-size: 12px;
	color: #636363;
	font-family: 'Helvetica Neue',Helvetica,Arial,'PingFang SC','Hiragino Sans GB','Heiti SC','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}